

<% if user_signed_in? %>
	<h1><u>Your Address books</u></h1>
<% end %>

<% if user_signed_in? == false %>
	<h1><strong><u>Please Sign Up to create an Address Book!</u></strong></h1>
<% end %>


<% @addbooks.each do |f| %>
	<% if user_signed_in? %>
		<% if f.user_id == current_user.id %>	
			<h3> <%= f.title %></h3>
			<%= link_to "View Address Book", addbook_path(f)%>
		<% end %>
	<% end %>
<% end %>



	<br/>
	<br/>
<% if user_signed_in? %>
	<%= link_to "New Address Book", new_addbook_path, class: "btn btn-default"%>

<% end %>