<h1><u>Your Address books</u></h1>


<% @addbooks.each do |f| %>
	<h2> <%= f.title %></h2>
	<%= link_to "View Addressbook", addbook_path(f)%>

	<% end %>

	<br/>
	<br/>
<%= link_to "New Addressbook", new_addbook_path, class: "btn btn-default"%>